header {
  padding-top: 10px;
  font-weight: bold;
}
.new-page {
  page-break-before: always;
}
.col-xs-6 {
  border: 1px solid #333333;
  padding-top: 10px;
  padding-bottom: 10px;
}
.col-xs-6:first-child {
  padding-left: 30px;
}
.strong {
  font-weight: bold;
}