<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="../css/font-awesome.min.css" />
  <link rel="stylesheet" type="text/css" href="../css/mmvic.min.css" />
  <link rel="stylesheet" type="text/css" href="../css/style.min.css"/>
</head>
<body>
  <div id="content">
    THIS IS MY CONTENT
    <br /><br />
    <i class="fa fa-2x fa-user"></i>
    <br /><br />
    <i class="fa fa-3x fa-users"></i>
  </div>
</body>
</html>